.marketcontainer{
    width : 80vw;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: auto;
    margin-right: auto;
}   

@media screen and (max-width: 1290px) {
    .marketcontainer{
        grid-template-columns: auto auto;
    } 
}

@media screen and (max-width: 850px) {
    .marketcontainer{
        grid-template-columns: auto;
    } 
}

.titre{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.marketcontainer img{
    object-fit: cover;
}